# 환경 변수
*.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
pip-log.txt

# IDE 설정
.idea/
.vscode/
*.iml

# Spring Boot
StockBoard/target/
*.class

# FastAPI 실행 관련
*.pid
*.db
instance/
*.sqlite3

# Docker 관련
charts/
*.tar
*.gz
*.zip
*.sock
*.pid

# 모델 / 출력
*.pt
*.ckpt
*.onnx
*.h5

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# 테스트 및 커버리지
coverage/
htmlcov/
